<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../code5.js"></script>
  </head>
  <body>
    <script>
      //nested
      let r = 350;
      let yp = 2000;

      if (r >= 350) {
        if (yp >= 200) {
          console.log("Enjoy without add");
        } else {
          console.log("enjoy wiht add");
        }
      } else {
        console.log("invalid r");
      }
    </script>
  </body>
</html>
