<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
    <!-- <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: black;
            cursor: e-resize;
        }
    </style> -->
</head>
<body>
    <h1 class="text-glow" >Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet.</p>
    <button class="btn-black" >Click me </button>
    <button class="btn-danger" >black button</button>

    <div class="box">

    </div>
    
</body>
</html>