<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
    <style>
        /* .mainBox{
            display: flex;
        } */
    </style>
</head>
<body>
    <!-- <h1  class="text-xl bg-red-300  mx-40 my-10" >Lorem ipsum dolor sit amet.</h1> -->

<!-- 
    <div class="mainBox flex  justify-center gap-5 text-white">
        <div class="box w-[100px] h-[100px] bg-red-900 mt-3 "> box </div>
        <div class="box w-[100px] h-[100px] bg-red-900 mt-3 "> box </div>
        <div class="box w-[100px] h-[100px] bg-red-900 mt-3 "> box </div>
        <div class="box w-[100px] h-[100px] bg-red-900 mt-3 "> box </div>

    </div> -->

    <nav  class="flex justify-around items-center bg-gray-900 text-white font-bold text-lg rounded-full m-4" >
        <div class="logo">
            <img src="https://ganeshdutt.netlify.app/New-file%20(1).gif" class="w-[80px] h-[80px] rounded-full  " alt="" >
        </div>
        <ul  class="flex gap-5 ">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Projects</a></li>


        </ul>
    </nav>

    <p class="font-sans ...">The quick brown fox ...</p>
<p class="font-serif ...">The quick brown fox ...</p>
<p class="font-mono ...">The quick brown fox ...</p>
</body>
</html>